In [33]:
import pandas as pd

In [34]:
in_files = [
    "a_example.txt"
    , "b_read_on.txt"
    , "c_incunabula.txt"
    , "d_tough_choices.txt"
    , "e_so_many_books.txt"
    , "f_libraries_of_the_world.txt"
]

In [35]:
def to_int_list(line):
    return [b for b in map(int, line.strip().split(" "))]

def read_input(in_file):
    with open(in_file, 'r') as f:
        l = f.readline().strip()
        first_data = [d for d in map(int, l.split(" "))]
        B = first_data[0]
        L = first_data[1]
        D = first_data[2]
        print(f'Total Books: {B}\nLibraries: {L}\nDays: {D}')
        
        book_scores = [b for b in map(int, f.readline().strip().split(" "))]

#        print(book_scores)
        libraries = []
        for idx, library in enumerate(range(L)):
            lib_data_1 = to_int_list(f.readline())
            number_of_books = lib_data_1[0]
            time = lib_data_1[1]
            b_per_day = lib_data_1[2]
#            print(f'{library} -> books: {number_of_books}, Time: {time}, BxDay: {b_per_day}')
            lib_books = to_int_list(f.readline())
#            print(f'{library} -> Books: {lib_books}')
            libraries.append({"Library": idx
                              , "Number of books": number_of_books
                              , "Startup time": time
                              , "Books per day": b_per_day
                              , "Books": lib_books
                             })
        
        return ({
            "Total Books": B
            , "Total Libraries": L
            , "Total Days": D
            , "Books Scores": book_scores
            , "Libraries": libraries
        })

In [36]:
foo = read_input("a_example.txt")
bar = pd.DataFrame(foo['Libraries'])

Total Books: 6
Libraries: 2
Days: 7

In [37]:
books = pd.DataFrame(foo['Books Scores'])

In [38]:
sorted_books = books.sort_values(by=0, ascending=False)

In [39]:
libraries = pd.DataFrame(foo['Libraries'])

In [40]:
libraries.sort_values('Startup time', inplace=True)

In [41]:
libraries

   Library  Number of books  Startup time  Books per day            Books
0        0                5             2              2  [0, 1, 2, 3, 4]
1        1                4             3              1     [0, 2, 3, 5]

In [42]:
signed_libraries = libraries.shape[0]

In [43]:
signed_libraries

2

In [44]:
for idx, library in libraries.iterrows():
    first_line = f"{library['Library']} {len(library['Books'])}"
    second_line = " ".join([str(b) for b in library['Books']])
    print(f'{first_line}\n{second_line}')

0 5
0 1 2 3 4
1 4
0 2 3 5

In [45]:
def write_out_file(out_file, solution):
    with open(out_file, 'w') as o:
        o.write(f"{solution.shape[0]}\n")
        for idx, library in solution.iterrows():
            first_line = f"{library['Library']} {len(library['Books'])}\n"
            second_line = " ".join([str(b) for b in library['Books']]) + "\n"
#            print(f'{first_line}\n{second_line}')
            o.write(first_line)
            o.write(second_line)

In [46]:
write_out_file("foo.out", libraries)

In [47]:
def solve(solution):
    for problem in in_files:
        print(problem)
        data_in = read_input(problem)
        libraries = pd.DataFrame(data_in['Libraries'])
        solution = solution(problem)
        write_out_file(problem.replace(".txt", ".out"), solution)
        print("\n\n")

# Naive

In [48]:
for problem in in_files[-1:]:
    print(problem)
    data_in = read_input(problem)
    libraries = pd.DataFrame(data_in['Libraries'])
    libraries.sort_values('Startup time', inplace=True)
    write_out_file(problem.replace(".txt", ".out"), libraries)
    print("\n\n")

f_libraries_of_the_world.txt
Total Books: 100000
Libraries: 1000
Days: 700

In [49]:
"foo.txt".replace(".txt", ".out")

'foo.out'

# More naive

In [50]:
def find_solution(in_file):
    problem_data = read_input(in_file)
    books = pd.DataFrame(problem_data['Books Scores'])
    libraries = pd.DataFrame(problem_data['Libraries'])
    libraries.sort_values('Startup time', inplace=True)
    solution = libraries
    for idx , library in libraries.iterrows():
        library_books = pd.DataFrame(library['Books']).set_index(0)
        scan_books = books.index.intersection(library_books.index)
        if len(scan_books) == 0:
            solution.drop(index=[library['Library']], inplace=True)
        else:
            books.drop(index=scan_books, inplace=True)
            solution.at[library['Library'], 'Books'] = list(scan_books)
        
    return solution

In [51]:
foo = find_solution("a_example.txt")

Total Books: 6
Libraries: 2
Days: 7

In [52]:
foo.head()

   Library  Number of books  Startup time  Books per day            Books
0        0                5             2              2  [0, 1, 2, 3, 4]
1        1                4             3              1              [5]

In [53]:
for problem in in_files:
    print(problem)
    data_in = read_input(problem)
    libraries = pd.DataFrame(data_in['Libraries'])
    solution = find_solution(problem)
    write_out_file(problem.replace(".txt", ".out"), solution)
    print("\n\n")

a_example.txt
Total Books: 6
Libraries: 2
Days: 7
Total Books: 6
Libraries: 2
Days: 7



b_read_on.txt
Total Books: 100000
Libraries: 100
Days: 1000
Total Books: 100000
Libraries: 100
Days: 1000



c_incunabula.txt
Total Books: 100000
Libraries: 10000
Days: 100000
Total Books: 100000
Libraries: 10000
Days: 100000



d_tough_choices.txt
Total Books: 78600
Libraries: 30000
Days: 30001
Total Books: 78600
Libraries: 30000
Days: 30001



e_so_many_books.txt
Total Books: 100000
Libraries: 1000
Days: 200
Total Books: 100000
Libraries: 1000
Days: 200



f_libraries_of_the_world.txt
Total Books: 100000
Libraries: 1000
Days: 700
Total Books: 100000
Libraries: 1000
Days: 700

# super naive

In [54]:
def super_naive_solution(in_file):
    problem_data = read_input(in_file)
    libri = problem_data['Books Scores']
    for i in problem_data['Libraries']:
        i['points']=sum([libri[j] for j in i['Books']])
    books = pd.DataFrame(problem_data['Books Scores'])
    libraries = pd.DataFrame(problem_data['Libraries'])
    libraries['Value'] = (problem_data['Total Days'] - libraries['Startup time']) * libraries['Books per day'] + libraries['points']
#    print(libraries['Value'])
    libraries.sort_values('Value', inplace=True, ascending=False)
    solution = libraries
    for idx , library in libraries.iterrows():
        library_books = pd.DataFrame(library['Books']).set_index(0)
        scan_books = books.index.intersection(library_books.index)
        if len(scan_books) == 0:
            solution.drop(index=[library['Library']], inplace=True)
        else:
            books.drop(index=scan_books, inplace=True)
            solution.at[library['Library'], 'Books'] = list(scan_books)
        
    return solution

In [55]:
foo = super_naive_solution("a_example.txt")

Total Books: 6
Libraries: 2
Days: 7

In [ ]:
for problem in in_files[3:]:
    print(problem)
    data_in = read_input(problem)
    libraries = pd.DataFrame(data_in['Libraries'])
    solution = super_naive_solution(problem)
    write_out_file(problem.replace(".txt", ".out"), solution)
    print("\n\n")

d_tough_choices.txt
Total Books: 78600
Libraries: 30000
Days: 30001
Total Books: 78600
Libraries: 30000
Days: 30001